*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    
}
body,html{
    height: 100%;
    width: 100%;
}
header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	padding: 0px 0;
	text-align: center;
	background: rgb(46, 53, 53,0);
	z-index: 9999;
	transition: all 300ms ease-in-out;
}

.scroll-down {
	header {
		transform: translate3d(0, -100%, 0);
	}
}

.scroll-up {
	header {
		filter: drop-shadow(0 -10px 20px rgb(170, 170, 170));
	}
}

.menu-is-open {
	overflow: hidden;

	header {
		filter: none;
	}
}
.container{
   display: flex;
   justify-content: space-between;
   align-items: center;
}

  nav {
    background: rgb(46, 53, 53,0) ;
    padding-top: 20px;
    z-index: 10;
    opacity: 80;
  }
  ul {
    list-style-type: none;
  }
  a {
    padding-top: 20px;
    color: #3C3633;
    text-decoration: none;
    font-size: 2.3vh;
  }
  a:hover {
    text-decoration: underline;
  }
  .logo a:hover {
    text-decoration: none;
  }
  .menu li {
    font-size: 16px;
    padding: 15px 5px;
    white-space: nowrap;
  }
  .logo a,
  .toggle a {
    font-size: 20px;
  }
  .button.secondary {
    border-bottom: 1px #444 solid;
  }
  
  /* Mobile menu */
  .menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
  .toggle {
    order: 1;
  }
  .item.button {
    order: 2;
  }
  .item {
    width: 100%;
    text-align: center;
    order: 3;
    display: none;
  }
  .item.active {
    display: block;
  }
  
  /* Navbar Toggle */
  .toggle {
    cursor:pointer;
  }
  .bars {
    background: #999;
    display: inline-block;
    height: 2px;
    position: relative;
    transition: background .2s ease-out;
    width: 18px;
  }
  .bars:before,
  .bars:after {
    background: #999;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
  }
  .bars:before {
    top: 5px;
  }
  .bars:after {
    top: -5px;
  }
  
  /* Tablet menu */
  @media all and (min-width: 468px) {
    .menu {
        justify-content: center;
    }
  
    .logo {
        flex: 1;
    }
  
    .item.button {
        width: auto;
        order: 1;
        display: block;
    }
    .toggle {
        order: 2;
    }
    .button.secondary {
        border: 0;
    }
    .button a {
        padding: 7.5px 15px;
        background: rgb(193, 196, 196);
        border: 1px #000000 solid;
        border-radius:50em;
    }
    .button.secondary a {
        background: transparent;    
    }
    .button a:hover {
        text-decoration: none;
        transition:all .25s;
    }
    .button:not(.secondary) a:hover {
        background: #a6a8a8;
        border-color: #000000;
    }
    .button.secondary a:hover {
        color: #ddd;
    } 
  }
  
  /* Desktop menu */
  @media all and (min-width: 768px) {
    .item {
        display: block;
        width: auto;
    }
    .toggle {
        display: none;
    }
    .logo {
        order: 0;
    }
    .item {
        order: 1;
    }
    .button {
        order: 2;
    }
    .menu li {
        padding: 15px 10px;
    }
    .menu li.button {
        padding-right: 0;
    }
  }

  
#page1{
    height: 100vh;
    width: 100%;
    background-color: #EEEDEB;
    background-size: 100% 100%;
    animation: color 8s ease-in-out infinite;

    
}
#page1 h1{
    padding-left: 42%;
    padding-top: 45px;
    font-size: 3vh;
}
#page1 .lines {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    margin: auto;
    width: 90vw; }
  
  .line {
    position: absolute;
    width: 1px;
    height: 150vh;
    top: 0;
    left: 50%;
    background: rgba(0, 0, 0, 0.18);
    overflow: hidden; }
    .line::after {
      content: '';
      display: block;
      position: absolute;
      height: 15vh;
      width: 100%;
      top: -50%;
      left: 0;
      background: linear-gradient(to bottom, rgba(255, 255, 255, 0.18) 0%, #3C3633 75%, #3C3633 100%);
      animation: drop 5s 0s infinite;
      animation-fill-mode: forwards;
      animation-timing-function: cubic-bezier(0.4, 0.26, 0, 0.97); }
    .line:nth-child(1) {
      margin-left: -25%; }
      .line:nth-child(1)::after {
        animation-delay: 2s; }
    .line:nth-child(3) {
      margin-left: 25%; }
      .line:nth-child(3)::after {
        animation-delay: 2.5s; }
  
  @keyframes drop {
    0% {
      top: -50%; }
    100% {
      top: 110%; } }
  


#page2{
    height: 100vh;
    width: 100%;
    background-color: rgb(110, 180, 180);

}
#page3{
    height: 100vh;
    width: 100%;
    background-color: rgb(101, 163, 163);

}
#logo
{
   
    width: 100%;
}
#logoimg{
    padding-left: 20%;
}